/********************************************************
 * ESTIL PER LA PRÀCTICA AEDES
 *============================
 * Autor : Marc Sànchez
 * LLicència : lliure permet redistribució

  INDEX
=============================
1. Declaració de variables
2. Estil principal
3. Header
4. section default
5. footer
*******************************************************/

/******************************************************
1. Declaració de variables
******************************************************/
:root {
  --color-principal: #324D69;
  --color-secondari: #5384B2;
  --color-text-principal: #181818;
  --color-text-secondari: #989898;
  --color-background-principal: rgb(33, 24, 245);
  --color-background-secondari: rgb(68, 176, 243);
  --margin-left-default: 20px;
  --nav-height: 75px;
  --banner-height: 356px;
}

/* 1. Estil principal */

@font-face {
  font-family: laMevaFont;
  src: url(../fonts/Carlito-Regular.ttf);
}

@font-face {
  font-family: laMevaFont;
  src: url(../fonts/Carlito-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: laMevaFont;
  src: url(../fonts/Carlito-Italic.ttf);
  font-style: italic;
}

@font-face {
  font-family: laMevaFont;
  src: url(../fonts/Carlito-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}

body {
  font-family: laMevaFont, 'Oswald', Times;
  position: relative;
  margin: auto;
  width: 100%;
}

#container {
  width: 100%;
  margin: auto;
}

/* 2. Header */
header {
  display: block;
  max-height: var(--banner-height);
}
/**
.banner {
  color: var(--color-text-secondari);
  min-height: var(--banner-height);
}

.banner img {
  max-width: 100%;
  position: absolute;
  left: 0%;
  top: 0%;
}
*/

.header-menu {
  /* position:relative; /** Dic que la seva posició ha de ser relativa a la posició que li tocaria */
  height: var(--nav-height); /** Alçada assignada */
  top: calc(-1 * var(--nav-height)); /** Posició superior (relativa a on li tocaria) */
  display:flex; /** Vull que utiltizi les propietats de flex (maquetació de layouts) -> https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
  align-items:center;
  background: var(--color-background-secondari); /** Li poso una capa de negre transparent a sota */
}

.header-menu h1 {
  margin-left: var(--margin-left-default);
  vertical-align: middle;
  color: var(--color-text-principal);
  width: 50%; /** Li assigno la meitat d'espai a la seva amplada */
  float:left; /** El faig flotar a l'esquerra (deixarà pujar als elements de sota que vulguin flotar a la dreta) */
}

.header-menu h1 a{
  text-decoration: none;
  color:var(--color-text-principal);
}

.header-menu h1 a:hover{
  color:var(--color-text-secondari);
}

.header-menu nav {
  float: right; /** El faig flotar a la dreta (per posar-lo al nivell del títol.) */
  width: 50%; /** Li assigno la meitat d'espai a la seva amplada */
}

/** Un cop repartits els elements a "l'engrós" especifico per els elements de dins seu. */

.header-menu nav ul{
  float:right;
}

.header-menu nav li {
  display: inline;
  list-style: none;
  padding-right: var(--margin-left-default);
}

.header-menu nav li a {
  color: var(--color-text-principal);
  text-decoration: none;
  font-weight: bold;
}

.icon{
  max-width: 50px;
  max-height: 50px;
}

/*****************************
 Slider d'imatges amb botons.
--------------------------------
Reference at :
  - https://www.w3schools.com/w3css/w3css_slideshow.asp
  - https://www.w3schools.com/w3css/4/w3.css
*/
.w3-button{
  border:none;
  display:inline-block;
  padding:8px 16px;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  color:inherit;
  background-color:inherit;
  text-align:center;
  cursor:pointer;
  white-space:nowrap
}

.w3-display-left{
  position:absolute;
  top:50%;
  left:0%;
  transform:translate(0%,-50%);
  -ms-transform:translate(-0%,-50%)
}

.w3-display-right{
  position:absolute;
  top:50%;
  right:0%;
  transform:translate(0%,-50%);
  -ms-transform:translate(0%,-50%)
}

/*****************************
 Classes generals
******************************/

.stop-floating{
  clear:both;
}

/*****************************
 Estils per l'Índex
******************************/

.index-links{
  margin:auto;
  width: 90%;
  margin-top:20px;
  margin-bottom: 20px;
}

.index-links a{
  width:45%;
  margin-top:20px;
  margin-bottom:20px;
  text-decoration: none;
  color:var(--color-text-secondari);
  border: 3px solid black;
  border-radius: 10px;
}

.index-links a:hover{
  background-color: var(--color-background-secondari);
}

.index-links a img{
  color:red;
}

.link-index{
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-index img{
  max-width: 70px;
  max-height: 70px;
}

.index-links a:nth-child(2n){
  float:right;
  display: block;
}

.index-links a:nth-child(2n+1){
  float:left;
  display: block;
}

/*****************************
 Estils Per Controller
******************************/

.netdata-iframe{
  width: 50%;
  height: 500px;
}

.netdata-iframe:nth-child(2n+1){
  float:left;
}

.netdata-iframe:nth-child(2n){
  float:right;
}
