<!--
<div class="banner">
  <img class="banner-slide" src="images/stars_1280x356.png" alt="Universe picture">
  <img class="banner-slide" src="images/sunset_1280x356.png" alt="Sunset picture">
  <img class="banner-slide" src="images/colors_1280x356.png" alt="Colors picture">
  <img class="banner-slide" src="images/sea_1280x356.png" alt="Sea picture">
  <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
  <button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>
</div>
-->

<div class="header-menu">
  <h1><a href="/">Cal Xitu</a></h1>
  <nav w3-include-html="html-includes/nav.html"></nav>
</div>
