<ul>
  <li><a href="controller.html"><img class="icon"  src="https://img.icons8.com/wired/64/000000/server.png"></a></li>
  <li><a href="akaunting"><img class="icon" src="images/akaunting-logo.svg"/></a></li>
  <li><a href="video"><img class="icon" src="https://img.icons8.com/wired/64/000000/cinema-.png"></a></li>
</ul>
